/* Esercizio 10 */

.ex-10-icon {
    animation-name: ruota;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
}
@keyframes ruota{
    0%{transform: rotate(0);}
    100% {transform: rotate(360deg);}

}

/* Esercizio 11 */

.ex-11-icon:hover {
    animation-name: ruota2;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes ruota2{
    0%{transform: rotate(0);}
    100% {transform: rotate(270deg);}
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
    animation-name: mymove;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.ex-12-button:hover .ex-12-bottom-white {
    animation-name: mymove;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes mymove {
    50% {transform: translate(50px, 0);}
}