/* Esercizio 10 */

.ex-10-icon {
    animation-name: ruota;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
}
@keyframes ruota{
    0%{transform: rotate(0);}
    100% {transform: rotate(360deg);}

}

/* Esercizio 11 */

.ex-11-icon:hover {
    animation-name: ruota2;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    /* animation-delay: 2s; */
    animation-iteration-count: 1;
    /* animation-direction: alternate; */
}
@keyframes ruota2{
    /* 0%{transform: rotate(0);} */
    70% {transform: rotate(270deg);}
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
    animation-name: mymove;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ex-12-button:hover .ex-12-bottom-white {
    animation-name: mymove2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
}
@keyframes mymove {
    50% {transform: translate(115px, 0);}
}
@keyframes mymove2 {
    50% {transform: translate(-95px, 0);}
}
/* Esercizio 13 */

.ex-13-button:hover .ex-13-top-white {
   /* background-color: blue; */
    animation-name: mymove3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.ex-13-button:hover .ex-13-bottom-white {
    /* background-color: blueviolet; */
    animation-name: mymove4;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    /* animation-direction: reverse; */
}
@keyframes mymove3 {
    0%{ left:10%; top: -10px;}
    22% {left:90%; top: -10px;}
    40%{left: 90%; top: 60px}
    70%{left: -20%; top: 60px;}
    80%{left:-20%; top:-10px;}
    100%{left: 10%; top:-10px;}

    


}
@keyframes mymove4 {
    0% {right: 20%; bottom: -10px;}
    20% {right: 80%; bottom: -10px;}
    40%{right: 80%; bottom: 60px;}
    70%{right: -5%; bottom: 60px;}
    80%{right: -5%; bottom:-10px;}
    100%{right: 20%; bottom:-10px;}
}
